* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	// font-family: 'Playfair', sans-serif;
	font-family: 'Poppins', sans-serif;
}

a:visited, a:link, a:hover, a:active {
	color: unset;
	text-decoration: none;
}

ul {
	list-style: none;
}

// $accent-color: #c800ff85;
$accent-color:		hsl(251, 45%, 55%);
$accent-shadow-1:	#ca7bff;
$accent-shadow-2:	hsl(291, 95%, 40%);

$font-family-hero: "Playfair";
