* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a:visited, a:link, a:hover, a:active {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section {
  height: 100vh;
}

.arrow-container-left {
  position: absolute;
  left: 0;
  padding: 0.2rem 0.2rem;
}

.arrow-container-right {
  position: absolute;
  right: 0;
  padding: 0.2rem 0.2rem;
}

.arrow-container-bottom {
  position: absolute;
  bottom: 0;
  padding: 0.2rem 0.2rem;
}

.arrow {
  width: 3.5rem;
  height: 3.5rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}
.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
.arrow-left:hover {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  opacity: 0.8;
}

.arrow-right {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}
.arrow-right:hover {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
  opacity: 0.8;
}

.arrow-bottom {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.arrow-bottom:hover {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  opacity: 0.8;
}

.arrow-up {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.arrow-up:hover {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.carousel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*.next-section {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 100;
  }*/
}
.carousel .slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .slide-hidden {
  display: none;
}
.carousel .indicators {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  bottom: 0rem;
  padding-bottom: 5.5rem;
}
.carousel .indicators .indicator {
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.25rem;
}
.carousel .indicators .indicator:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel .indicators .indicator-inactive {
  background-color: transparent;
  border: 1px solid white;
}
.carousel .indicators .thumb {
  width: 5rem;
  height: 5rem;
  border: none;
  outline: none;
  margin: 0 0.25rem;
  border-radius: 0.75rem;
}
.carousel .indicators .thumb:hover {
  cursor: pointer;
}
.carousel .indicators .thumb img {
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .indicators .thumb-0 {
  width: 9rem;
  height: 10rem;
  border: 3px solid white;
  box-shadow: 0px 0px 6px #555;
  margin: 0 0.5rem;
}
.carousel .indicators .thumb-1 {
  width: 7rem;
  height: 7rem;
}
.carousel .hero-details {
  position: absolute;
  left: 5rem;
  top: 55%;
  color: white;
  width: 35%;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4509803922);
  background-color: rgba(1, 1, 1, 0.2);
  padding: 0rem 2rem 2rem 2rem;
  border-radius: 2rem;
}
.carousel .hero-details .titel-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.carousel .hero-details .titel-container span {
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #777;
  border-radius: 1rem;
}
.carousel .hero-details .titel-container .hero-name {
  font-size: 8rem;
  text-transform: uppercase;
}
.carousel .hero-details .hero-description {
  font-size: 2rem;
  text-align: justify;
}

@keyframes slide-left-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-left-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-right-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-right-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.left-in {
  animation: slide-left-in 0.9s 1 forwards;
}

.left-out {
  animation: slide-left-out 0.9s 1 forwards;
}

.right-in {
  animation: slide-right-in 0.9s 1 forwards;
}

.right-out {
  animation: slide-right-out 0.9s 1 forwards;
}

.screen-2-container {
  height: 100%;
  display: flex;
}

.img-hero {
  position: relative;
  width: 100%;
}
.img-hero video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-hero .hero-details {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  width: 100%;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4509803922);
  background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%);
  background: radial-gradient(circle at 10% 20%, rgba(64, 84, 178, 0.7) 0%, rgba(219, 2, 234, 0.5) 90%);
  padding: 0rem 5rem 5rem 5rem;
}
.img-hero .hero-details .titel-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.img-hero .hero-details .titel-container span {
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #777;
  border-radius: 1rem;
}
.img-hero .hero-details .titel-container .hero-name {
  font-size: 8rem;
  text-transform: uppercase;
}
.img-hero .hero-details .hero-description {
  font-size: 2rem;
  text-align: justify;
}

.form {
  position: relative;
  width: 100%;
  background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
  background: linear-gradient(106.2deg, rgb(0, 186, 217) -4.3%, rgb(121, 134, 204) 14.1%, rgb(150, 117, 206) 34.7%, rgb(186, 105, 200) 53%, rgb(240, 71, 112) 74.7%, rgb(239, 162, 92) 95.6%);
  background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%);
  background: linear-gradient(103.9deg, rgb(12, 166, 180) 3%, rgb(100, 51, 161) 93.9%);
  padding: 0 5rem;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form form textarea {
  font-size: 1.4rem;
  border: 4px solid transparent;
  border-radius: 1rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  resize: none;
  width: 100%;
  height: 10rem;
  outline: none;
}
.form form textarea:focus {
  border: 4px solid rgba(0, 0, 0, 0.15);
}
.form form button {
  min-width: 15rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.scroll-container {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.2rem 0.2rem;
}

.result-screen-container {
  height: 100%;
  background: linear-gradient(109deg, rgb(252, 92, 125), rgb(106, 130, 251));
  position: relative;
}
.result-screen-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */